.btn-primary{
  font-style: normal;
  font-weight: 900;
  font-size: 12.8px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 17px 15px 16px;
  background: $dark;
  color: $white;
  border: none;
  display: flex;
  align-items: center;
  i{
    color: $white;
    margin-left: 16px;
  }
  &:hover, &:focus, &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled):active{
    box-shadow: 0 6px 24px 0 $dark;
    background: $dark;
  }
}
