.product{
    &-title{
      color: $dark;
      font-style: normal;
      font-weight: 700;
      font-size: 39.063px;
      line-height: 130%;
      margin-bottom: 40px;
    }
    &-desc{
      color: $gray;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      margin-top: 128px;
      @media (max-width: 991px) {
        margin-top: 32px;
      }
    }
    &-information{
      width: 291px;
      position: absolute;
      bottom: 8%;
      right: 8%;
      background: $white;
      padding: 5px;
      @media (max-width: 991px) {
        width: auto;
      }
      .product-name{
        color: $dark;
        font-style: normal;
        font-weight: 900;
        font-size: 12.8px;
        line-height: 17px;
        margin-bottom: 5px;
      }
      .product-price{
        color: $gray;
        font-style: normal;
        font-weight: 400;
        font-size: 12.8px;
        line-height: 160%;
        margin-bottom: 0;
      }
      img{
        width: 62px;
        height: 62px;
      }

    }
    .btn-primary{
      margin-bottom: 96px;
      @media (max-width: 991px) {
        margin-bottom: 32px;
      }
    }
    img{
      max-width: 684px;
      max-height: 684px;
      object-fit: cover;
      object-position: center;
    }
}
